{% extends 'base.html' %}

{% load static %}

{% block title %}Đổi mật khẩu{% endblock %}

{% block styles %}{% endblock %}
{% block content %}
    <div class="main-banner">
        <div class="banner-overlay"> <!-- Lớp phủ đen -->
            <div class="login-container" style="text-align: center">
                <h1>Đổi mật khẩu</h1>
                <form method = "POST">
                    {% csrf_token %}
                    {% for key, value in form.errors.items %}
                        {{value}}
                    {% endfor %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}

                    {{ form.as_p }}
                    <input type = 'hidden' name = 'next' value = '/'/>
                    <input type = 'submit' value = 'Đổi mật khẩu'/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
