{% extends 'base.html' %}

{% load static %}

{% block title %}Sửa thông tin{% endblock %}

{% block styles %}{% endblock %}
{% block content %}
    <div class="main-banner">
        <div class="banner-overlay"> <!-- Lớp phủ đen -->
            <div class="login-container" style="text-align: center">
                <h1>Sửa thông tin</h1>
                <form method = "POST">
                    {% csrf_token %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    {{ form.as_p }}
                    <input type = 'submit' value = 'Cập nhật'/>
                </form>
            </div>
        </div>
    </div> 
{% endblock %}
