{% extends 'base.html' %}

{% load static %}

{% block title %}Đăng ký{% endblock %}

{% block styles %}{% endblock %}
{% block content %}
    <div class="main-banner">
        <div class="banner-overlay">
            <div class="login-container" style="text-align: center">
                <h1>Đăng ký</h1>
                <form action="." method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Đăng ký"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}