{% extends 'base.html' %}

{% load static %}

{% block title %}Trang chủ{% endblock %}

{% block content %}
    <!-- Phần banner chính -->
    <div class="main-banner">
        <div class="banner-overlay"></div>
            <div class="banner-content">
                <h1>MyLeagueUIT.com</h1>
                <p>Tổ chức giải đấu dễ dàng</p>
                <p>Quản lý đội thể thao đơn giản</p>
                <div class="banner-buttons">
                    <a href="#">Tạo giải đấu</a>
                    <a href="#">Tìm giải đấu</a>
                    <a href='{% url "create_club" %}'>Tạo đội</a>
                    <a href='{% url "club_list" %}'>Tìm đội</a>
                    <a href='{% url "create_coach" %}'>Tạo HLV</a>
                    <a href='{% url "coach_list" %}'>Tìm HLV</a>
                    <a href='{% url "create_player" %}'>Tạo Cầu thủ</a>
                    <a href='{% url "player_list" %}'>Tìm Cầu thủ</a>
            </div>
        </div>
    </div>
    <!-- Phần chính -->
    <main>
        <section>
            <h1>Chào mừng đến với trang quản lý giải đấu bóng đá</h1>
            <p>Đây là nơi bạn có thể theo dõi và quản lý các giải đấu bóng đá một cách dễ dàng và hiệu quả.</p>
        </section>
    </main>
{% endblock %}
