/* home/static/home/css/styles.css */

/* CSS cho phần thân trang */
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0; /* Xóa margin mặc định */
    padding: 0; /* Xóa padding mặc định */
    display: flex; /* Sử dụng flexbox để bố cục */
    flex-direction: column; /* Các phần tử con xếp theo cột */
    min-height: 100vh; /* Chiều cao tối thiểu là 100% chiều cao của viewport */
}

/* CSS cho phần header */
header {
    display : flex;
    position: relative; /* Đặt vị trí tương đối cho header */
    text-align: center; /* Căn giữa nội dung */
    background-color: #00264D; /* Màu nền */
    color: #fff; /* Màu chữ */
    padding: 15px 15px; /* Khoảng cách trên dưới */
    justify-content: space-between;
    
}

.header-container {
    display: flex; /* Sử dụng flexbox layout */
    align-items: center; /* Căn các phần tử con theo trục dọc */
    width: 100%; /* Chiều rộng của container */
    max-width: 1050px; /* Đặt chiều rộng tối đa cho container */
    margin: 10 auto; /* Canh giữa container */
}
/* CSS cho thanh điều hướng */
nav {
    display: inline-block; /* Hiển thị dạng inline-block để dễ canh chỉnh */
    vertical-align: middle; /* Căn giữa theo chiều dọc */
    gap: 15px; /* Khoảng cách giữa các phần tử con */
    margin-left: auto; /* Đẩy thanh điều hướng về bên phải */
}

/* CSS cho các liên kết trong thanh điều hướng */
nav a {
    color: #fff; /* Màu chữ */
    text-decoration: none; /* Loại bỏ gạch chân */
    font-weight: bold; /* Chữ đậm */
    padding: 10px; /* Khoảng cách bên trong */
    font-size: 20px;
}

/* Đổi màu chữ khi di chuột vào liên kết */
nav .dropdown:hover {
    color: rgba(255, 255, 255, 0.7); /* Màu chữ thay đổi với độ mờ 70% */
    transition: color 0.3s ease; /* Hiệu ứng chuyển màu trong 0.3 giây */
}

/* CSS cho các liên kết xác thực (login, signup) */
.auth-links {
    position: absolute; /* Đặt vị trí tuyệt đối trong header */
    top: 10px; /* Cách phía trên 10px */
    right: 10px; /* Cách bên phải 10px */
}

/* CSS cho các liên kết xác thực */
.auth-links a {
    color: #fff; /* Màu chữ */
    text-decoration: none; /* Loại bỏ gạch chân */
    margin: 0 10px; /* Khoảng cách giữa các liên kết */
    font-size: 14px; /* Kích thước chữ */
}

/* CSS cho logo */
.logo {
    max-height: 50px; /* Chiều cao */
    max-width: 50px; /* Chiều rộng */
    border-radius: 50%; /* Làm tròn logo */
    overflow: hidden; /* Ẩn phần ngoài khung logo */
    margin-right: 10px; /* Khoảng cách phải */
    margin-left: 10px; /* Khoảng cách trái */
}

/* CSS cho phần chứa logo và tên miền */
.logo-and-domain {
    display: flex; /* Sử dụng flexbox để bố cục */
    align-items: center; /* Căn giữa theo chiều dọc */
    
}

/* CSS cho tên miền */
.domain p {
    margin: 0; /* Xóa margin mặc định của đoạn văn */
    color: #fff; /* Màu chữ */
}

.domain a {
    text-decoration: none; /* Loại bỏ gạch chân */
    font-size: 20px;
}

/* CSS cho hình ảnh bên trong logo */
.logo img {
    width: 100%; /* Chiều rộng 100% của phần tử cha */
    height: auto; /* Giữ tỷ lệ khung hình */
}

/* CSS cho banner chính */
.main-banner {
    position: relative; /* Đặt vị trí tương đối */
    width: 100%; /* Chiều rộng 100% */
    height: 100vh; /* Chiều cao bằng chiều cao của trình duyệt */
    background-image: url("/static/home/images/banner.png"); /* Hình nền */
    background-size: cover; /* Kích thước bao phủ toàn bộ */
    background-position: center; /* Canh giữa */
    background-repeat: no-repeat; /* Không lặp lại */
}

/* CSS cho lớp phủ đen trên banner */
.banner-overlay {
    position: absolute; /* Đặt vị trí tuyệt đối trên banner */
    top: 0;
    left: 0;
    width: 100%; /* Chiều rộng 100% */
    height: 100%; /* Chiều cao 100% */
    background-color: rgba(0, 0, 0, 0.5); /* Lớp phủ đen với độ mờ 50% */
}

/* CSS cho văn bản trên banner */
.banner-content {
    position: relative;
    z-index: 1;
    color : white;
    text-align: center;
    max-width: 50%; /* Giới hạn độ rộng của nội dung để tránh tràn ra ngoài */
    margin: 0 auto;
    margin-top: 10px;
}
.banner-content h1 {
    font-size: 35px; /* Tăng kích thước chữ cho tiêu đề */
    margin-bottom: 10px;
    margin-top: 10px;
}
.banner-content p {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.banner-buttons {
    display: flex;
    flex-wrap: wrap; /* Để các nút xuống dòng nếu không đủ chỗ */
    gap: 20px; /* Tạo khoảng cách giữa các nút */
    justify-content: center;
    margin-top: 20px;
}
.banner-buttons a {
    padding: 15px 15px;
    background-color: #620deb; /* Màu nền của nút */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 15px; /* Tăng kích thước chữ của nút */
    text-align: center; /* Căn giữa nội dung nút */
    flex: 1 1 calc(5% - 5px); /* Đảm bảo các nút có kích thước đều nhau và đủ chỗ để xuống dòng */
}
.banner-buttons a:hover {
    background-color: #45a049; /* Màu nền khi hover */
}

/* CSS cho các phần section */
section {
    width: 50%; /* Chiều rộng 50% */
    margin: 20px auto; /* Căn giữa với khoảng cách trên dưới 20px */
    background-color: #f4f4f4; /* Màu nền */
    padding: 20px; /* Khoảng cách bên trong */
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Đổ bóng nhẹ */
    text-align: center; /* Căn giữa nội dung */
}

/* CSS cho footer */
footer {
    background-color: #333; /* Màu nền */
    color: #fff; /* Màu chữ */
    text-align: center; /* Căn giữa nội dung */
    padding: 20px 0; /* Khoảng cách trên dưới */
    width: 100%; /* Chiều rộng 100% */
    margin-top: auto; /* Đẩy footer xuống dưới */
}

/* CSS cho đoạn văn trong footer */
footer p {
    margin: 0; /* Xóa margin */
}

/* CSS cho khung đăng nhập */
.login-container {
    background-color: #fff; /* Màu nền trắng */
    padding: 20px; /* Khoảng cách bên trong */
    border-radius: 8px; /* Bo tròn các góc */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Đổ bóng nhẹ */
    max-width: 400px; /* Chiều rộng tối đa 400px */
    margin: 0 auto; /* Căn giữa khung */
}

/* CSS cho form đăng nhập */
.login-container form {
    display: flex; /* Sử dụng flexbox để bố cục */
    flex-direction: column; /* Xếp các phần tử theo cột */
}

/* CSS cho nhãn trong form đăng nhập */
.login-container label {
    margin-bottom: 5px; /* Khoảng cách dưới 5px */
    font-weight: bold; /* Chữ đậm */
    color: #000000;
}

/* CSS cho các ô input trong form đăng nhập */
.login-container input[type="text"],
.login-container input[type="password"] {
    margin-bottom: 15px; /* Khoảng cách dưới 15px */
    padding: 10px; /* Khoảng cách bên trong */
    font-size: 14px; /* Kích thước chữ */
    border: 1px solid #ccc; /* Viền xám */
    border-radius: 4px; /* Bo tròn các góc */
}

/* CSS cho nút submit trong form đăng nhập */
.login-container input[type="submit"] {
    background-color: #4CAF50; /* Màu nền xanh lá */
    color: white; /* Màu chữ trắng */
    padding: 10px 20px; /* Khoảng cách bên trong */
    border: none; /* Không viền */
    border-radius: 4px; /* Bo tròn các góc */
    cursor: pointer; /* Con trỏ dạng tay khi hover */
}

/* CSS cho nút submit khi hover */
.login-container input[type="submit"]:hover {
    background-color: #45a049; /* Màu nền xanh lá đậm hơn khi hover */
}

/* Thêm CSS cho dropdown menu */
.dropdown {
    position: relative;
    display: inline-block;
    z-index: 10; /* Đảm bảo dropdown menu nằm trên các phần tử khác */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #00264D;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);
    z-index: 10; /* Đảm bảo dropdown menu nằm trên các phần tử khác */
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #45a049;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: red;
}
