{% extends 'base.html' %}

{% load static %}

{% block title %}Tìm kiếm cầu thủ{% endblock %}

{% block styles %}{% endblock %}
{% block content %}
    <form method="GET" action="{% url 'player_list' %}">
        <input type="text" name="search" placeholder="Search by name...">
        <button type="submit">Search</button>
    </form>

    
    <!-- Danh sách cau thu -->
    <ul>
        {% for player in players %}
            <li>
                {% if player.IMAGE %}
                    <img src="{{ player.IMAGE.url }}" alt="{{ player.PLAYERNAME }}" width="150">
                {% endif %}
                <h2>{{ player.PLAYERNAME }}</h2>
                <p>Birthday: {{ player.BIRTHDAY }}</p>
                <p>Nationality: {{ player.NATIONALITY }}</p>
                <p>Club: {{ player.CLUB }}</p>
                <p>Card: {{ player.CARDS }}</p>
            </li>
        {% empty %}
            <li>No players found.</li>
        {% endfor %}
    </ul>
{% endblock %}
