<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/styles.css' %}">
</head>
<body>
    <!-- Phần Header -->
    <header>
        <div class="header-container">
            <div class="logo">
                <a href="/"><img src="{% static 'home/images/logo.png' %}" alt="Logo"></a>
            </div>
            <div class="domain">
                <a href="/"><p>MyLeagueUIT</p></a>
            </div>
            <nav>
                <a href="/" class="dropdown">Trang chủ</a>
                <div class="dropdown">
                    <a href="{% url 'league' %}" class="dropdown">Giải đấu</a>
                    <div class="dropdown-content">
                        <a href='{% url "create_league" %}'>Tạo giải đấu</a>
                        <a href='{% url "league_list" %}'>Tìm giải đấu</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a href='{% url "club_list" %}' class="dropdown">Đội thi đấu</a>
                    <div class="dropdown-content">
                        <a href='{% url "create_club" %}'>Tạo đội</a>
                        <a href='{% url "club_list" %}'>Tìm đội</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a href='{% url "coach" %}'  class="dropdown">HLV</a>
                    <div class="dropdown-content">
                        <a href='{% url "create_coach" %}'>Tạo HLV</a>
                        <a href='{% url "coach_list" %}'>Tìm HLV</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a href='{% url "player" %}'  class="dropdown">Cầu thủ</a>
                    <div class="dropdown-content">
                        <a href='{% url "create_player" %}'>Tạo Cầu thủ</a>
                        <a href='{% url "player_list" %}'>Tìm Cầu thủ</a>
                    </div>
                </div>
                <a href='{% url "introduction" %}' class="dropdown">Giới thiệu</a>
                <div class="auth-links">
                    {% if user.username %}
                        <div class="dropdown">
                            <a href="#" class="dropdown">Xin chào {{ user.username }}</a>
                            <div class="dropdown-content">
                                <a href='{% url "edit_profile" %}'>Sửa thông tin</a>
                                <a href='{% url "change_password" %}'>Đổi mật khẩu</a>
                                <a href="{% url 'logout' %}">Đăng Xuất</a>
                            </div>
                        </div>
                    {% else %}
                        <a href="{% url 'login' %}" class="dropdown">Đăng nhập</a>
                        <a href="{% url 'register' %}" class="dropdown">Đăng ký</a>
                    {% endif %}
                </div>
            </nav>
        </div>
    </header>
    <!-- Form tìm kiếm -->
    <form method="GET" action="{% url 'player_list' %}">
        <input type="text" name="search" placeholder="Search by name...">
        <button type="submit">Search</button>
    </form>

    
    <!-- Danh sách cau thu -->
    <ul>
        {% for player in players %}
            <li>
                {% if player.IMAGE %}
                    <img src="{{ player.IMAGE.url }}" alt="{{ player.PLAYERNAME }}" width="150">
                {% endif %}
                <h2>{{ player.PLAYERNAME }}</h2>
                <p>Birthday: {{ player.BIRTHDAY }}</p>
                <p>Nationality: {{ player.NATIONALITY }}</p>
                <p>Club: {{ player.CLUB }}</p>
                <p>Card: {{ player.CARDS }}</p>
            </li>
        {% empty %}
            <li>No players found.</li>
        {% endfor %}
    </ul>
</body>
<footer>
    <p>Đây là trang web quản lý giải đấu bóng đá, nơi bạn có thể theo dõi các giải đấu, đội thi đấu và các thông tin liên quan.</p>
    <p>&copy; 2024 MyLeagueUIT.com. All rights reserved.</p>
</footer>
</html>
