{% extends 'base.html' %}

{% load static %}

{% block title %}Danh sách cầu thủ{% endblock %}

{% block styles %}{% endblock %}
{% block content %}
    <h1>Danh sách cầu thủ</h1>
    <ul>
        {% for player in players %}
            <li>
                {% if player.IMAGE %}
                    <img src="{{ player.IMAGE.url }}" alt="{{ player.PLAYERNAME }}" width="150">
                {% endif %}
                <h2>{{ player.PLAYERNAME }}</h2>
                <p>Club: {{ player.CLUB }}</p>
            </li>
            <a href="{% url 'player_edit' player.PLAYERID %}"> Edit </a>
            <br>
            <a href="{% url 'player_delete' player.PLAYERID %}"> Delete </a>
        {% endfor %}
    </ul>
{% endblock %}
