{% extends 'base.html' %}

{% load static %}

{% block title %}Nhập tỷ số trận đấu{% endblock %}

{% block styles %}
     <style>
        body {
            background-color: #FFFFFF;
            margin: 0;
            padding: 0;
        }
        .form-container {
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 10px;
            background-color: #f9f9f9;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .form-container h1 {
            text-align: center;
            margin-bottom: 20px;
        }
        .form-container label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }
        .form-container input {
            width: calc(100% - 20px);
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }
        .form-container button {
            width: 100%;
            padding: 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
        }
        .form-container button:hover {
            background-color: #0056b3;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="form-container">
        <h1>Nhập tỷ số cho trận đấu {{ match.MATCHID }}</h1>
        <form method="post">
            {% csrf_token %}
            <label for="id_HOMESCORE">Tỷ số đội nhà:</label>
            {{ form.HOMESCORE }}

            <label for="id_AWAYSCORE">Tỷ số đội khách:</label>
            {{ form.AWAYSCORE }}

            <button type="submit" class="save-btn">Lưu tỷ số</button>
        </form>
    </div>
{% endblock %}
