{% extends 'base.html' %}

{% load static %}

{% block title %}Tạo trận đấu mới{% endblock %}

{% block styles %}
    <style>
        body {
            background-color: #FFFFFF;
            margin: 0;
            padding: 0;
        }
        .form-container {
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 10px;
            background-color: #f9f9f9;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .form-container h1 {
            text-align: center;
            margin-bottom: 20px;
        }
        .form-container label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }
        .form-container input, .form-container select, .form-container textarea {
            width: calc(100% - 20px);
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }
        .form-container button {
            width: 100%;
            padding: 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
        }
        .form-container button:hover {
            background-color: #0056b3;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="form-container">
        <h1>{{ league.LEAGUE_NAME }} - Tạo trận đấu</h1>
        <form method="post">
            {% csrf_token %}
            <label for="id_MATCHID">Mã trận đấu:</label>
            {{ form.MATCHID }}

            <label for="id_ROUND">Vòng đấu:</label>
            {{ form.ROUND }}

            <label for="id_LEAGUEID">Giải đấu:</label>
            {{ form.LEAGUEID }}

            <label for="id_HOMETEAM">Đội nhà:</label>
            {{ form.HOMETEAM }}

            <label for="id_AWAYTEAM">Đội khách:</label>
            {{ form.AWAYTEAM }}

            <label for="id_DATE">Ngày:</label>
            {{ form.DATE }}

            <label for="id_TIME">Thời gian:</label>
            {{ form.TIME }}

            <label for="id_STADIUM">Sân vận động:</label>
            {{ form.STADIUM }}

            <label for="id_REFEREE">Trọng tài:</label>
            {{ form.REFEREE }}

            <button type="submit" class="save-btn">Tạo trận đấu</button>
        </form>
    </div>
{% endblock %}
