<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LeagueManagement_DX.Forms.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="LeagueManagement_DX.Properties.Settings.LeagueDatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=&quot;|DataDirectory|\Database\LeagueDatabase.mdf&quot;;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="LeagueManagement_DX.Properties.Settings.TestDataBaseConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\TestDataBase.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>

    <applicationSettings>
        <LeagueManagement_DX.Forms.Settings>
            <setting name="StringCaptionAddtour" serializeAs="String">
                <value>Unique Error</value>
            </setting>
            <setting name="StringCaptionInvalidValue" serializeAs="String">
                <value>Invalid Value</value>
            </setting>
            <setting name="StringCaptionTransactionUnsuccess" serializeAs="String">
                <value>Transaction Unsuccess</value>
            </setting>
        </LeagueManagement_DX.Forms.Settings>
    </applicationSettings>
</configuration>