{% extends 'base.html' %}

{% load static %}

{% block title %}Tạo giải đấu{% endblock %}

{% block styles %}
    <style>
        body {
            background-color: #FFFFFF;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .form-container {
            display: flex;
            justify-content: center;
            padding: 20px 50px;
        }

        .form-box {
            width: 30%;
            max-width: 900px;
            background-color: #f9f9f9;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-group label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        .form-group input[type="text"],
        .form-group input[type="date"],
        .form-group select,
        .form-group textarea {
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .form-group input[type="file"] {
            padding: 10px;
            box-sizing: border-box;
        }

        .form-group input[type="submit"] {
            background-color: #4CAF50;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            width: 100%;
        }

        .form-group input[type="submit"]:hover {
            background-color: #45a049;
        }

        footer {
            text-align: center;
            padding: 20px 50px;
            background-color: #333;
            color: white;
            margin-top: 20px;
        }

        .form-title {
            text-align: center;
            margin-top: 20px;
        }
        .errorlist {
            color: red;
            list-style-type: none;
        }
        .message-box {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #dff0d8;
            color: #3c763d;
            border: 1px solid #d6e9c6;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            display: none;
            z-index: 1000;
            text-align: center;
        }

        .message-box .icon {
            font-size: 50px;
        }

        .message-box .close-btn {
            background: none;
            border: none;
            font-size: 20px;
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            color: #3c763d;
        }

        .show {
            display: block;
            animation: fadeIn 0.5s, fadeOut 0.5s 4.5s;
        }

        @keyframes fadeIn {
            from{opacity: 0;}
            to{opacity: 1;}
        }

        @keyframes fadeOut {
            from{opacity: 1;}
            to{opacity: 0;}
        }
    </style>
{% endblock %}

{% block content %}
    <h1 class="form-title">Thông tin giải đấu</h1>

    <div class="form-container">
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
        <form method="POST" enctype="multipart/form-data" class="form-box">
            {% csrf_token %}
            <div class="form-group">
                <label for="leagueid">ID</label>
                {{ form.LEAGUE_ID }}
            </div>
            <div class="form-group">
                <label for="leaguename">Tên Giải Đấu</label>
                {{ form.LEAGUE_NAME }}
            </div>
            <div class="form-group">
                <label for="logo">Logo</label>
                {{ form.LOGO }}
            </div>
            <div class="form-group">
                <label for="totalclub">Số Đội Thi Đấu</label>
                {{ form.TOTAL_CLUB }}
            </div>
            <div class="form-group">
                <label for="association">Hiệp Hội</label>
                {{ form.ASSOCIATION }}
            </div>
            <div class="form-group">
                <label for="founded">Ngày Thành Lập</label>
                {{ form.FOUNDED }}
            </div>
            <div class="form-group">
                <label for="starttime">Thời Gian Bắt Đầu</label>
                {{ form.START_TIME }}
            </div>
            <div class="form-group">
                <label for="endtime">Thời Gian Kết Thúc</label>
                {{ form.END_TIME }}
            </div>
            <div class="form-group">
                <input type="submit" value="Sửa thông tin giải đấu">
            </div>
        </form>
    </div>
    
    <div id="messageBox" class="message-box">
        <div class="icon">✔</div>
        <p>Thành công!</p>
        <button class="close-btn" onclick="document.getElementById('messageBox').style.display='none'">&times;</button>
    </div>

    <script>
        function showMessage() {
            var messageBox = document.getElementById('messageBox');
            messageBox.classList.add('show');
            setTimeout(function() {
                messageBox.classList.remove('show');
            }, 3000);
        }

        window.onload = function() {
            {% if messages %}
                showMessage();
            {% endif %}
        }
    </script>
{% endblock %}
