{% extends 'base.html' %}

{% load static %}

{% block title %}Thông tin đội bóng{% endblock %}
{% block styles %}
    <style>
        body {
            background-color: #FFFFFF;
            margin: 0;
            padding: 0;
        }
        .club-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            padding: 20px;
        }
        .club-item {
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            border-radius: 10px;
            padding: 20px;
            width: 300px;
            text-align: center;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .club-item img {
            width: 200px;
            height: 200px;
            object-fit: contain;
            border-radius: 10px;
            margin-bottom: 15px;
        }
        .club-item h2 {
            font-size: 1.5em;
            margin: 10px 0;
        }
        .club-item p {
            margin: 5px 0;
            color: #555;
        }
        .club-item .action-buttons {
            display: flex;
            gap: 10px;
            margin-top: 10px;
        }
        .club-item .action-buttons a {
            padding: 10px 15px;
            color: white;
            text-decoration: none;
            border-radius: 5px;
        }
        .club-item .edit-btn {
            background-color: #4CAF50;
        }
        .club-item .edit-btn:hover {
            background-color: #45a049;
        }
        footer {
            text-align: center;
            padding: 20px;
            background-color: #333;
            color: white;
        }
        .player-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            padding: 20px;
        }
        .player-item {
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            border-radius: 10px;
            padding: 20px;
            width: 300px;
            text-align: center;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .player-item img {
            width: 200px;
            height: 200px;
            object-fit: contain;
            border-radius: 10px;
            margin-bottom: 15px;
        }
        .player-item h2 {
            font-size: 1.5em;
            margin: 10px 0;
        }
        .player-item p {
            margin: 5px 0;
            color: #555;
        }
        .player-item .action-buttons {
            display: flex;
            gap: 10px;
            margin-top: 10px;
        }
        .player-item .action-buttons a {
            padding: 10px 15px;
            color: white;
            text-decoration: none;
            border-radius: 5px;
        }
        .player-item .edit-btn {
            background-color: #4CAF50;
        }
        .player-item .edit-btn:hover {
            background-color: #45a049;
        }
        .player-item .delete-btn {
            background-color: #f44336;
        }
        .player-item .delete-btn:hover {
            background-color: #e53935;
        }
        .form-container {
            display: flex;
            justify-content: center;
            margin: 20px 0;
        }
        .form-container input[type="text"] {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px 0 0 5px;
            width: 300px;
        }
        .form-container button {
            padding: 10px;
            border: 1px solid #4CAF50;
            background-color: #4CAF50;
            color: white;
            border-radius: 0 5px 5px 0;
            cursor: pointer;
        }
        .form-container button:hover {
            background-color: #45a049;
        }
    </style>
{% endblock %}   

{% block content %}
    <div class="club-list">
            <div class="club-item">
                {% if club.LOGO %}
                    <img src="{{ club.LOGO.url }}" alt="{{ club.CLUBNAME }}">
                {% endif %}
                <h2>{{ club.CLUBNAME }}</h2>
                <p>Sân Vận Động: {{ club.STADIUM }}</p>
                <p>Số Lượng Cầu Thủ: {{ club.TOTALPLAYERS }}</p>
                <p>Giải đấu tham gia: {{ club.LEAGUEPLAYING }}</p>
                <div class="action-buttons">
                    <a href="{% url 'create_coach' %}" class="edit-btn">Thêm HLV</a>
                    <a href="{% url 'create_player' %}" class="edit-btn">Thêm Cầu thủ</a>
                </div>
            </div>
    </div>
    
    <div class="player-info">
        <center><h2>Huấn luyện viên</h2></center>
        {% if coach %}
            <div class="player-item">
                {% if coach.IMAGE %}
                    <img src="{{ coach.IMAGE.url }}" alt="{{ coach.COACHNAME }}">
                {% endif %}
                <h2>{{ coach.COACHNAME }}</h2>
                <p>Tuổi: {{ coach.BIRTHDAY }}</p>
                <p>Quốc tịch: {{ coach.NATIONALITY }}</p>
                <p>Câu lạc bộ: {{ coach.CLUBID.CLUBNAME }}</p>
                <div class="action-buttons">
                    <a href="{% url 'coach_edit' coach.COACHID %}" class="edit-btn">Sửa</a>
                    <a href="{% url 'coach_delete' coach.COACHID %}" class="delete-btn">Xóa</a>
                </div>
            </div>
        {% else %}
            <center><p>• Không tìm thấy huấn luyện viên nào.</p></center>
        {% endif %}
    </div>
    <center><h2>Danh sách cầu thủ</h2></center>
    <div class="form-container">
        <form method="GET" action="{% url 'player_list' %}">
            <input type="text" name="search" placeholder="Nhập tên cầu thủ">
            <button type="submit">Search</button>
        </form>
    </div>
        {% for player in players %}
            <div class="player-item">
                {% if player.IMAGE %}
                    <img src="{{ player.IMAGE.url }}" alt="{{ player.PLAYERNAME }}">
                {% endif %}
                <h2>{{ player.PLAYERNAME }}</h2>
                <p>Ngày sinh: {{ player.BIRTHDAY }}</p>
                <p>Quốc tịch: {{ player.NATIONALITY }}</p>
                <p>Đội tuyển: {{ player.CLUB }}</p>
                <p>Thẻ: {{ player.CARDS }}</p>
                <p>Vị trí: {{ player.POSITION }}</p>
                <p>Số áo: {{ player.SHIRTNUM }}</p>
                <p>Bàn thắng: {{ player.GOALS }}</p>
                <p>Kiến tạo: {{ player.ASSISTS }}</p>
                <p>Tình trạng: {{ player.CONDITION }}</p>
                <p>Chiều cao: {{ player.HEIGHT }}</p>
                <p>Cân nặng: {{ player.WEIGHT }}</p>
                <p>Chân thuận: {{ player.PREFERFOOT }}</p>
                <div class="action-buttons">
                    <a href="{% url 'player_edit' player.PLAYERID %}" class="edit-btn">Sửa</a>
                    <a href="{% url 'player_delete' player.PLAYERID %}" class="delete-btn">Xóa</a>
                </div>
            </div>
        {% empty %}
            <<center><p>• Không tìm thấy cầu thủ nào.</p></center>
        {% endfor %}
    </div>
{% endblock %}